<a href="https://colab.research.google.com/github/saiharini1711-eng/practice-/blob/main/small%20programs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
num = 5
fact = 1
for i in range(1, num + 1):
    fact *= i
print(fact)

120

In [8]:
a, b = 0, 1
for i in range(6):
  print(a)
a, b = b, a+b

0
0
0
0
0
0

In [11]:
num = 161
if str(num) == str(num)[::-1]:
  print("Palindrome")
else:
  print("Not Palindrome")

SyntaxError: 'break' outside loop (ipython-input-1634692050.py, line 4)

In [13]:
num = 10
for i in range(2,num):
  if num % i == 0:
    print("Not prime")
    break
  else:
    print("Prime")

Not prime

In [14]:
name = " python"
print (name[::-1])

nohtyp

In [16]:
num = 123
t = 0
for i in str(num):
  t += int(i)
print(t)

6

In [18]:
num = 153
sum_cubes = 0

for i in str(num):
  sum_cubes += int(i)**3

if sum_cubes == num:
  print("Amstrong")
else:
  print("Not Amstrong")

Amstrong