<a href="https://colab.research.google.com/github/saiharini1711-eng/practice-/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
age = 22
city = "kadapa"
pi = 3.14
print("Q1:" , age, city, pi)

Q1: 22 kadapa 3.14

In [ ]:
a,b = 5, 10
a,b = b, a
print("Q2: After swap:", a,b)

Q2: After swap: 10 5

In [ ]:
fruits = ["apple", "banana", "cherry"]
print("Q1:", fruits[1])

Q1: banana

In [ ]:
student = {"name": "Harini" }
print("Q2:", student["name"])

Q2: Harini

In [ ]:
x = 15
print("Q3:", x = 10 and x < 20)

TypeError: 'x' is an invalid keyword argument for print()

In [ ]:
t = (1, 2, 3, 4)
t [1]

2

In [ ]:
print("Q1:", 17 | 5)

Q1: 21

In [ ]:
x, y = 10, 20
print("Q2: Equal?", x == y)

Q2: Equal? False

In [ ]:
n = 7
if n % 2 == 0:
  print( "Q1:", "n is even")
else:
    print("Q1:", "n is odd")

Q1: n is odd

In [ ]:
for i in range(1,11):
  print("Q2:",u)

Q2: 10
Q2: 10
Q2: 10
Q2: 10
Q2: 10
Q2: 10
Q2: 10
Q2: 10
Q2: 10
Q2: 10