<a href="https://colab.research.google.com/github/saiharini1711-eng/practice-/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
age = 22
city = "kadapa"
pi = 3.14
print("Q1:" , age, city, pi)

Q1: 22 kadapa 3.14

In [19]:
a,b = 5, 10
a,b = b, a
print("Q2: After swap:", a,b)

Q2: After swap: 10 5

In [20]:
fruits = ["apple", "banana", "cherry"]
print("Q1:", fruits[1])

Q1: banana

In [21]:
student = {"name": "Harini" }
print("Q2:", student["name"])

Q2: Harini

In [23]:
x = 15
print("Q3:", x > 10 and x < 20)

Q3: True

In [24]:
t = (1, 2, 3, 4)
t [1]

2

In [25]:
print("Q1:", 17 | 5)

Q1: 21

In [26]:
x, y = 10, 20
print("Q2: Equal?", x == y)

Q2: Equal? False

In [27]:
n = 7
if n % 2 == 0:
  print( "Q1:", "n is even")
else:
    print("Q1:", "n is odd")

Q1: n is odd

In [31]:
for i in range(1,11):
  print("Q2:",i)

Q2: 1
Q2: 2
Q2: 3
Q2: 4
Q2: 5
Q2: 6
Q2: 7
Q2: 8
Q2: 9
Q2: 10

In [32]:
age = 20
if age >= 18:
  print("adult")
elif age >=13:
  print("teen")
else:
  print ("child")

adult

In [37]:
for i in range (1,6):
  print(i)
  x = 1
  while x <= 5:
    print(x)
    x += 1

1
1
2
3
4
5
2
1
2
3
4
5
3
1
2
3
4
5
4
1
2
3
4
5
5
1
2
3
4
5

In [45]:
for i in range (5):
  if i == 2:
    continue
  if i == 4:
    break
  print(i)

0
1
3

In [40]:
def greet(name):
  return "Hello" + name

In [46]:
def greet(name):
    return "Hello " + name

print(greet("Harini"))

Hello Harini

In [47]:
def add(a, b=10):
    return a + b
print(add(5))

15

In [57]:
sqaure = lambda x: x*x
print("Q1:",sqaure(8))

Q1: 64

In [58]:
def fact(n):
  if n==0: return 1
  return n * fact(n-1)
print(fact(5))

120

In [60]:
class student:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def show(self):
    print(self.name, self.age)

s1 = student("Harini", 20)
s1.show()

Harini 20

In [61]:
class Bank:
    def __init__(self):
        self.__balance = 0
    def deposit(self, amt):
        self.__balance += amt
        return self.__balance

b = Bank()
print(b.deposit(100))

100

In [62]:
class Animal:
    def speak(self):
        print("Animal sound")

class Dog(Animal):
    def speak(self):
        print("Bark")

d = Dog()
d.speak()

Bark